footer
  width:        100%
  height:       33px
  bottom:       0
  position:     fixed
  text-align:   center
  border-top:   solid 1px $seafoam
  background:   $off_white
  line-height:  40px

.credit
  font-weight: bold
  position: absolute
  right: 10px;
  top: -4px
  color: $orange
  font-size: 14px
