.processing
  margin: -33px 0

  h2
    margin-bottom: 27px

    span
      animation: blink 2s linear infinite;

  .dot
    border: solid 2px $seafoam
    margin: 3px 10px 0 0
    padding: 5px
    border-radius: 3px

  .message
    font-weight: bold

  li
    clear: both
    font-size: 18px
    width: 70%
    margin: 0 auto 20px
