.loading
  width:      60px
  height:     60px
  display:    inline-block
  margin-top: $block_size*0.25
  background: url('../images/loading.gif')

.uploader
  width:      500px
  height:     257px
  background: $off_white
  border-bottom: solid 4px $orange
  text-align: center
  position: absolute
  box-sizing: border-box
  padding: 75px 0
  left: 50%
  top:  50%
  margin: -146px 0 0 -250px

  h2
    margin-bottom: 37px

.upload-button
  color: $off_white
  width: 230px
  margin: 0 auto
  padding: 14px 0
  position: relative
  font-size: 24px
  background: $grey
  font-weight: bold
  border-radius: 4px

#fileupload
  position: absolute
  left: 0
  top: 0
  height: 100%
  width: 100%
  opacity: 0
  cursor: pointer

h2
  font-size:   30px
  font-weight: bold
  color:       $orange
