- if (badLayerName)
  .warning.left.small(title="this blending mode is not supported on the web") !
.subheadline.left=name
.text-orb.used-in-count.right
  | #{layers.length} layer(s)
.cl
.expandable-content
