%script{src: "/vendor/lodash.js"}
%script{src: "/test/test_psd.js"}

%script
  - if (@tree)
    PSD = #{Oj.dump(@tree)}

%script{src: "/walker.js"}
%script{src: "/fonts.js"}
%script{src: "/layers.js"}
%script{src: "/blending_modes.js"}
%script{src: "/layer_types.js"}
%script{src: "/empty_groups.js"}
%script{src: "/grader.js"}
%h2 Grade
