extends layout
block head
  script(src="js/uploader.js", type="text/javascript")

block content
  #progress
    .bar
  h2 Upload a psd
  input#fileupload(type= "file", name= "psd", data-url=workerPath)
