.processing
  h2 Processing
    | <span>.</span>
  ul
    li
      .dot.left
      .message.left Checking layer names
      .cl
    li
      .dot.left
      .message.left Parsing font information
      .cl
    li
      .dot.left
      .message.left Extracting blending modes
      .cl
    li
      .dot.left
      .message.left Generating tree data
      .cl
