.social
  a(href="https://twitter.com/share" class="twitter-share-button", data-url="http://www.psdgrade.com/", data-text="How good are your PSDs? Find out on", data-via="mojotech", data-related="mojotech") Tweet

.grade
  h1 Your PSD is a
    span #{(grade*100).toFixed(0)}% #{letter}
ul

script.
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
