p.about
  | Enough is enough. Let our PSDs rejoice. Begone empty groups and poorly named layers.
  span PSD Grade
  | is here to help!
#progress
  .bar
h2 Upload a psd
.upload-button Upload
  input#fileupload(type= "file", name= "psd", data-url=workerPath)
.sample No psd handy? Try a sample.
