.font-used
  overflow: hidden
  margin-bottom: 10px

.text-orb.used-in-count
  font-size: 13px
  cursor: pointer

.expand-font
  margin-left: 8px
  display: inline-block
  font-weight: bold

.layer-list-expansion
  clear: both
