.font-used
  overflow: hidden
  font-size: 23px
  margin-bottom: 10px
  color $grey
  font-size: 19px

.text-orb.used-in-count
  font-size: 13px
  cursor: pointer

.expand-font
  margin-left: 8px
  display: inline-block
  font-weight: bold

.layer-list-expansion
  clear: both
