.font-used
  overflow: hidden

.expandable-row.expanded > .text-orb.used-in-count
  &:after
    content: '-'

.text-orb.used-in-count
  cursor:         pointer
  font-size:      13px
  padding-right:  10px
  &:after
    content:     '+'
    margin-left: 6px

.layer-list-expansion
  clear: both
