.uploader
  text-align: center
  padding-top: $block_size

  .bar
    width:  0
    height: 10px
    background: green

.loading
  width:      60px
  height:     60px
  display:    inline-block
  margin-top: $block_size*0.25
  background: url('../images/loading.gif')
