global-reset()

$block_size = 94px
$seafoam    = #55DB9F
$grey       = #969696
$large_font = 30px

html
  font-family: helvetica
  font-weight: 400

.results
  max-width: 900px
  margin: 0 auto

.app-headline
  text-align: center
  color: $grey
  font-size: $large_font * 2
  border-bottom: solid 1px $seafoam
  padding: $block_size * 0.25 0
  font-weight: 100

.result-count
  display: inline-block
  background: $seafoam
  color: #FFF;
  width: $block_size
  height: $block_size
  font-weight: 100
  font-size: $large_font
  line-height: $block_size
  text-align: center

.result-title
  margin-left: $block_size * .5
  display: inline-block
  color: $grey
  font-size: $large_font
  font-weight: 200

.result .expand
  float: right
  width: $block_size
  font-size: $large_font
  line-height: $block_size
  text-align: center
  color: $grey
  cursor: pointer

.result
  margin: $block_size*0.25
