global-reset()

@import "_variables"
@import "_mixins"
@import "_results"
@import "_layers"
@import "_fonts"
@import "_upload"
@import "_footer"

.cl
  clear: both

.left
  float: left

.right
  float: right

.subheadline
  color $grey
  font-size: 19px
  line-height: 26px

.text-orb
  border-radius: 4px
  font-size: 16px
  color: $grey
  font-weight: 200
  padding: 6px 12px
  display: inline-block
  border: solid 2px #eee
  max-width: 120px
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  cursor: e-resize

  &:active
    max-width: none

.expandable-row
  margin-bottom: 10px

.expanded > .expandable-content
  display: block

.expandable-content
  display: none

html
  font-family: helvetica
  font-weight: 400
  font-size: $large_font
  transition(all  300ms)

  @media screen and (max-width: 600px)
    font-size: $large_font * 0.6

#app
  padding-bottom: $footer_height
