global-reset()

@import "_variables"
@import "_mixins"
@import "_results"

.app-headline
  text-align: center
  color: $grey
  font-size: 200%
  border-bottom: solid 1px $seafoam
  padding: $block_size * 0.25 0
  font-weight: 100

html
  font-family: helvetica
  font-weight: 400
  font-size: $large_font
  transition(all  300ms)

  @media screen and (max-width: 600px)
    font-size: $large_font * 0.6
